@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
*, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.App {
  display: grid;
  grid-template-columns: 30rem auto;
  grid-template-rows: 1fr auto;
}

button {
  border: none;
  background-color: white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.all-boards {
  grid-columns: 2/3;
}

header {
  padding: 3rem;
  border-bottom: 1px solid #E4EBFA;
  display: flex;
  justify-content: space-between;
}
header h1 {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
}
header button {
  padding: 1rem;
}

main {
  background-color: #F4F7FD;
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  column-gap: 2rem;
  padding: 0 2rem 2rem 2rem;
}

.column {
  width: 250px;
  padding-top: 2rem;
}
.column h2 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: #828FA3;
  padding-bottom: 2rem;
}
.column .add-task-btn {
  width: 100%;
  background-color: #E9EFFA;
  color: #828FA3;
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  box-shadow: none;
}

.task, .add-task-btn {
  background-color: white;
  padding: 2rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.3rem #E4EBFA;
}
.task h3, .add-task-btn h3 {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  padding-bottom: 1rem;
}
.task p, .add-task-btn p {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 500;
  color: #828FA3;
}
.task:hover, .task:focus, .add-task-btn:hover, .add-task-btn:focus {
  color: #635FC7;
}
.task:hover h3, .task:focus h3, .add-task-btn:hover h3, .add-task-btn:focus h3 {
  color: #635FC7;
}

.add-column-btn {
  margin-top: 3.5rem;
  padding: 0 3rem;
  background-color: #E9EFFA;
  color: #828FA3;
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  box-shadow: none;
  border-radius: 0.5rem;
}
.add-column-btn:hover, .add-column-btn:focus {
  color: #635FC7;
}

main.no-brd-chosen {
  display: flex;
  align-items: center;
  justify-content: center;
}
main.no-brd-chosen p {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: #828FA3;
}

.App.dark header {
  background-color: #2B2C37;
  border-bottom-color: #3E3F4E;
}
.App.dark header h1 {
  color: white;
}
.App.dark header .edit-brd-button {
  background-color: #2B2C37;
}

.App.dark main {
  background-color: #20212C;
}
.App.dark main .task {
  background-color: #2B2C37;
  box-shadow: none;
}
.App.dark main .task h3 {
  color: white;
}
.App.dark main .add-column-btn, .App.dark main .add-task-btn {
  background-color: #2B2C37;
  opacity: 0.3;
}

.sidebar {
  grid-columns: 1/2;
  padding: 3rem;
  border-right: 1px solid #E4EBFA;
  min-height: 100vh;
}
.sidebar .logo {
  height: 2.5rem;
  padding-bottom: 5rem;
}
.sidebar h2 {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: #828FA3;
  padding-bottom: 3rem;
}
.sidebar hr {
  border: 1px solid #F4F7FD;
}

.board-links-item {
  display: flex;
  align-items: center;
  z-index: 2;
}
.board-links-item svg {
  width: 1.5rem;
  padding-right: 1.5rem;
}
.board-links-item a {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #828FA3;
}
.board-links-item button {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #635FC7;
}

.cur-board-link {
  background-color: #635FC7;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  height: 4rem;
  width: 4rem;
  padding: 1rem 0;
  position: absolute;
  left: 0;
  z-index: 1;
}

.sidebar-btm-cluster {
  position: relative;
  top: 45vh;
}

.mode-toggle {
  background-color: #F4F7FD;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.mode-toggle svg {
  height: 2rem;
}
.mode-toggle svg.dark-mode {
  height: 1.75rem;
}

.toggler {
  height: 2rem;
  width: 4rem;
  background-color: #635FC7;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
}
.toggler #circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0.25rem;
}
.toggler .light {
  left: 0.25rem;
}
.toggler .dark {
  right: 0.25rem;
}

.hide-sidebar {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 2rem;
  color: #828FA3;
  font-weight: 700;
  font-size: 1.3rem;
}
.hide-sidebar svg {
  width: 2rem;
}

.log-out-btn {
  margin-top: 2rem;
  padding: 1.5rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #635FC7;
  border-radius: 0.5rem;
  color: white;
  width: 100%;
}
.log-out-btn:hover, .log-out-btn:focus {
  background-color: #A8A4FF;
}

.App.dark > .sidebar {
  background-color: #2B2C37;
  border-right-color: #3E3F4E;
}
.App.dark > .sidebar hr {
  border-color: #3E3F4E;
}
.App.dark > .sidebar .mode-toggle {
  background-color: #20212C;
}
.App.dark > .sidebar .hide-sidebar, .App.dark > .sidebar .create-brd-btn {
  background-color: #2B2C37;
}

form, .edit-task {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin: 0 auto;
  width: 500px;
  z-index: 1;
  background-color: white;
  padding: 3rem;
  border-radius: 0.5rem;
}
form h2, .edit-task h2 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: black;
  padding: 0;
}
form p, .edit-task p {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 500;
  color: #828FA3;
}
form label, form legend, .edit-task label, .edit-task legend {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #828FA3;
  width: 100%;
  display: block;
  margin-top: 2rem;
}
form fieldset, .edit-task fieldset {
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
form input, form textarea, form select, .edit-task input, .edit-task textarea, .edit-task select {
  display: block;
  margin-top: 1rem;
  width: 90%;
  border: 1px solid #E4EBFA;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
}
form .checkboxes-field .checked-subtask, .edit-task .checkboxes-field .checked-subtask {
  text-decoration: line-through;
}
form .checkboxes-field label, .edit-task .checkboxes-field label {
  padding: 1.5rem;
  margin: 1rem 0;
  width: 94%;
  background-color: #F4F7FD;
  border-radius: 0.5rem;
}
form .checkboxes-field input, .edit-task .checkboxes-field input {
  display: inline;
  width: auto;
  margin: 0;
  margin-right: 1.5rem;
}
form ::placeholder, .edit-task ::placeholder {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 500;
  color: #E4EBFA;
}
form select, .edit-task select {
  width: 100%;
  background-color: white;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 500;
}
form button, .edit-task button {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
form .add-btn, form .cancel-btn, .edit-task .add-btn, .edit-task .cancel-btn {
  margin-top: 1rem;
  background-color: #E4EBFA;
  color: #635FC7;
}
form .add-btn:hover, form .add-btn:focus, form .cancel-btn:hover, form .cancel-btn:focus, .edit-task .add-btn:hover, .edit-task .add-btn:focus, .edit-task .cancel-btn:hover, .edit-task .cancel-btn:focus {
  background-color: #F4F7FD;
}
form .save-btn, .edit-task .save-btn {
  background-color: #635FC7;
  color: white;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
form .save-btn:hover, form .save-btn:focus, .edit-task .save-btn:hover, .edit-task .save-btn:focus {
  background-color: #A8A4FF;
}
form .delete-btn, .edit-task .delete-btn {
  background-color: #EA5555;
  color: white;
}
form .delete-btn:hover, form .delete-btn:focus, .edit-task .delete-btn:hover, .edit-task .delete-btn:focus {
  background-color: #FF9898;
}

.view-task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-task-header h2 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: black;
}
.view-task-header button {
  width: auto;
  padding: 1rem;
}

.delete-brd-msg hr, .delete-task-msg hr {
  border: 1px solid #E4EBFA;
  margin: 2rem 0;
}
.delete-brd-msg h2, .delete-task-msg h2 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: #EA5555;
  margin-bottom: 2rem;
}
.delete-brd-msg p, .delete-task-msg p {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 500;
  color: #828FA3;
}
.delete-brd-msg .delete-btn-cluster, .delete-task-msg .delete-btn-cluster {
  margin-top: 2rem;
  display: flex;
  column-gap: 2rem;
}
.delete-brd-msg .delete-btn, .delete-task-msg .delete-btn {
  margin-top: 1rem;
}

.App.dark form, .App.dark .edit-task {
  background-color: #2B2C37;
}
.App.dark form .view-task-header button, .App.dark .edit-task .view-task-header button {
  background-color: #2B2C37;
}
.App.dark form h2, .App.dark form label, .App.dark form legend, .App.dark .edit-task h2, .App.dark .edit-task label, .App.dark .edit-task legend {
  color: white;
}
.App.dark form input, .App.dark form textarea, .App.dark form select, .App.dark .edit-task input, .App.dark .edit-task textarea, .App.dark .edit-task select {
  background-color: #2B2C37;
  border-color: #3E3F4E;
  color: white;
}
.App.dark form ::placeholder, .App.dark .edit-task ::placeholder {
  color: #3E3F4E;
}
.App.dark form .checkboxes-field label, .App.dark .edit-task .checkboxes-field label {
  background-color: #20212C;
}
.App.dark form hr, .App.dark .edit-task hr {
  border-color: #3E3F4E;
}
.App.dark form .add-btn, .App.dark .edit-task .add-btn {
  background-color: white;
}

/*# sourceMappingURL=index.css.map */
