@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
*, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

#app {
  display: flex;
}

button {
  border: none;
  background-color: white;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}

.all-boards {
  flex-grow: 1;
  min-height: 100vh;
}

header {
  padding: 3rem;
  border-bottom: 1px solid #E4EBFA;
  display: flex;
  justify-content: space-between;
}
header h1 {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
}
header .edit-brd-btn {
  padding: 1rem;
}

main {
  background-color: #F4F7FD;
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  column-gap: 2rem;
  padding: 0 2rem 2rem 2rem;
}

.column {
  width: 250px;
  flex-shrink: 0;
  padding-top: 2rem;
}
.column h2 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: #828FA3;
  padding-bottom: 2rem;
}
.column .add-task-btn {
  width: 100%;
  background-color: #E9EFFA;
  color: #828FA3;
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  box-shadow: none;
}

.task, .add-task-btn {
  background-color: white;
  padding: 2rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.3rem #E4EBFA;
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.task h3, .add-task-btn h3 {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  padding-bottom: 1rem;
  word-wrap: break-word;
}
.task p, .add-task-btn p {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 500;
  color: #828FA3;
}
.task .dragHandle, .add-task-btn .dragHandle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.task svg, .add-task-btn svg {
  height: 2rem;
}
.task:hover, .task:focus, .add-task-btn:hover, .add-task-btn:focus {
  color: #635FC7;
}
.task:hover h3, .task:focus h3, .add-task-btn:hover h3, .add-task-btn:focus h3 {
  color: #635FC7;
}

.add-column-btn {
  width: 250px;
  flex-shrink: 0;
  margin-top: 5.5rem;
  padding: 0 3rem;
  background-color: #E9EFFA;
  color: #828FA3;
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  box-shadow: none;
  border-radius: 0.5rem;
}
.add-column-btn:hover, .add-column-btn:focus {
  color: #635FC7;
}

main.no-brd-chosen {
  display: flex;
  align-items: center;
  justify-content: center;
}
main.no-brd-chosen p {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: #828FA3;
}

#app.dark header {
  background-color: #2B2C37;
  border-bottom-color: #3E3F4E;
}
#app.dark header h1 {
  color: white;
}
#app.dark header .edit-brd-btn {
  background-color: #2B2C37;
}

#app.dark main {
  background-color: #20212C;
}
#app.dark main .task {
  background-color: #2B2C37;
  box-shadow: none;
}
#app.dark main .task h3 {
  color: white;
}
#app.dark main .task:hover h3, #app.dark main .task:focus h3 {
  color: #635FC7;
}
#app.dark main .add-column-btn, #app.dark main .add-task-btn {
  background-color: rgba(43, 44, 55, 0.3);
}
#app.dark main .add-column-btn:hover, #app.dark main .add-column-btn:focus, #app.dark main .add-task-btn:hover, #app.dark main .add-task-btn:focus {
  color: #635FC7;
}

.sidebar-vis-btn {
  position: fixed;
  bottom: 3rem;
  left: 0;
  padding: 2rem 2rem 2rem 3rem;
  background-color: #635FC7;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.sidebar-vis-btn:hover, .sidebar-vis-btn:focus {
  background-color: #A8A4FF;
}
.sidebar-vis-btn svg {
  height: 1.5rem;
  margin-right: 1rem;
}

.sidebar {
  width: 300px;
  flex-shrink: 0;
  padding-top: 3rem;
  border-right: 1px solid #E4EBFA;
  min-height: 100vh;
}
.sidebar .logo {
  height: 2.5rem;
  padding: 0 3rem 5rem 3rem;
}
.sidebar h2 {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: #828FA3;
  padding: 0 3rem 3rem 3rem;
}
.sidebar hr {
  border: 1px solid #F4F7FD;
}

.board-container {
  padding: 1.25rem 0 1.25rem 3rem;
  margin: 1rem 3.5rem 1rem 0;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.board-container#current {
  background-color: #635FC7;
}
.board-container#current a {
  color: white;
}
.board-container#current svg {
  fill: white;
}
.board-container:hover, .board-container:focus {
  background-color: #F4F7FD;
}
.board-container:hover a, .board-container:focus a {
  color: #635FC7;
}
.board-container:hover svg, .board-container:focus svg {
  fill: #A8A4FF;
}

.board-links-item, .create-brd-container {
  display: flex;
  align-items: center;
}
.board-links-item svg, .create-brd-container svg {
  width: 1.5rem;
  padding-right: 1.5rem;
  fill: #828FA3;
}
.board-links-item a, .create-brd-container a {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #828FA3;
  width: 100%;
}
.board-links-item button, .create-brd-container button {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #635FC7;
}

.create-brd-container {
  padding: 1.25rem 3rem;
}
.create-brd-container svg {
  fill: #635FC7;
}

.sidebar-btm-cluster {
  position: relative;
  z-index: 0;
  top: 45vh;
  padding: 0 3rem;
}

.mode-toggle {
  background-color: #F4F7FD;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.mode-toggle svg {
  height: 2rem;
}
.mode-toggle svg.dark-mode {
  height: 1.75rem;
}

.toggler {
  height: 2rem;
  width: 4rem;
  background-color: #635FC7;
  border-radius: 1rem;
  position: relative;
}
.toggler:hover, .toggler:focus {
  background-color: #A8A4FF;
}
.toggler #circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0.25rem;
}
.toggler .light {
  left: 0.25rem;
}
.toggler .dark {
  right: 0.25rem;
}

.hide-sidebar {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 2rem;
  color: #828FA3;
  font-weight: 700;
  font-size: 1.3rem;
}
.hide-sidebar svg {
  width: 2rem;
}

.log-out-btn {
  margin-top: 2rem;
  padding: 1.5rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #635FC7;
  border-radius: 0.5rem;
  color: white;
  width: 100%;
}
.log-out-btn:hover, .log-out-btn:focus {
  background-color: #A8A4FF;
}

#app.dark > .sidebar {
  background-color: #2B2C37;
  border-right-color: #3E3F4E;
}
#app.dark > .sidebar hr {
  border-color: #3E3F4E;
}
#app.dark > .sidebar .mode-toggle {
  background-color: #20212C;
}
#app.dark > .sidebar .hide-sidebar, #app.dark > .sidebar .create-brd-btn {
  background-color: #2B2C37;
}

.display-msg-modal {
  border: none;
  width: fit-content;
  padding: 1rem 2rem;
  bottom: 2rem;
  margin: auto;
  border-radius: 10rem;
  position: fixed;
  background-color: #E4EBFA;
}
.display-msg-modal p {
  color: #635FC7;
  font-size: 1.5rem;
}
.display-msg-modal.error {
  background-color: #EA5555;
}
.display-msg-modal.error p {
  color: white;
}

.form-modal, .delete-modal, .login-form, .signup-form {
  border: none;
  width: 500px;
  padding: 3rem 3rem 5.5rem 3rem;
  border-radius: 0.5rem;
  margin: auto;
}
.form-modal::backdrop, .delete-modal::backdrop, .login-form::backdrop, .signup-form::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
.form-modal button.close-modal, .delete-modal button.close-modal, .login-form button.close-modal, .signup-form button.close-modal {
  position: absolute;
  bottom: 1.75rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: #E4EBFA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-modal button.close-modal:hover, .form-modal button.close-modal:focus, .delete-modal button.close-modal:hover, .delete-modal button.close-modal:focus, .login-form button.close-modal:hover, .login-form button.close-modal:focus, .signup-form button.close-modal:hover, .signup-form button.close-modal:focus {
  background-color: #F4F7FD;
}
.form-modal button.close-modal svg, .delete-modal button.close-modal svg, .login-form button.close-modal svg, .signup-form button.close-modal svg {
  height: 1rem;
  fill: #635FC7;
}
.form-modal h2, .delete-modal h2, .login-form h2, .signup-form h2 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: black;
  padding: 0;
  margin-bottom: 2rem;
}
.form-modal p, .delete-modal p, .login-form p, .signup-form p {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 500;
  color: #828FA3;
}
.form-modal legend, .delete-modal legend, .login-form legend, .signup-form legend {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #828FA3;
}
.form-modal label, .delete-modal label, .login-form label, .signup-form label {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #828FA3;
  width: 100%;
  display: block;
  margin: 1.5rem 0;
}
.form-modal label.col-label, .form-modal label.subtask-label, .delete-modal label.col-label, .delete-modal label.subtask-label, .login-form label.col-label, .login-form label.subtask-label, .signup-form label.col-label, .signup-form label.subtask-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-modal label.col-label svg, .form-modal label.subtask-label svg, .delete-modal label.col-label svg, .delete-modal label.subtask-label svg, .login-form label.col-label svg, .login-form label.subtask-label svg, .signup-form label.col-label svg, .signup-form label.subtask-label svg {
  margin-top: 1rem;
  height: 2rem;
  padding-left: 2rem;
  fill: #828FA3;
}
.form-modal label.col-label svg:hover, .form-modal label.col-label svg:focus, .form-modal label.subtask-label svg:hover, .form-modal label.subtask-label svg:focus, .delete-modal label.col-label svg:hover, .delete-modal label.col-label svg:focus, .delete-modal label.subtask-label svg:hover, .delete-modal label.subtask-label svg:focus, .login-form label.col-label svg:hover, .login-form label.col-label svg:focus, .login-form label.subtask-label svg:hover, .login-form label.subtask-label svg:focus, .signup-form label.col-label svg:hover, .signup-form label.col-label svg:focus, .signup-form label.subtask-label svg:hover, .signup-form label.subtask-label svg:focus {
  fill: #EA5555;
}
.form-modal fieldset, .delete-modal fieldset, .login-form fieldset, .signup-form fieldset {
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.form-modal input, .form-modal textarea, .form-modal select, .delete-modal input, .delete-modal textarea, .delete-modal select, .login-form input, .login-form textarea, .login-form select, .signup-form input, .signup-form textarea, .signup-form select {
  display: block;
  width: 90%;
  border: 1px solid #E4EBFA;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
.form-modal input:focus, .form-modal textarea:focus, .form-modal select:focus, .delete-modal input:focus, .delete-modal textarea:focus, .delete-modal select:focus, .login-form input:focus, .login-form textarea:focus, .login-form select:focus, .signup-form input:focus, .signup-form textarea:focus, .signup-form select:focus {
  outline: transparent;
  border: 2px solid #A8A4FF;
}
.form-modal input:invalid, .form-modal textarea:invalid, .form-modal select:invalid, .delete-modal input:invalid, .delete-modal textarea:invalid, .delete-modal select:invalid, .login-form input:invalid, .login-form textarea:invalid, .login-form select:invalid, .signup-form input:invalid, .signup-form textarea:invalid, .signup-form select:invalid {
  border-color: #EA5555;
}
.form-modal .checkboxes-field .checked-subtask, .delete-modal .checkboxes-field .checked-subtask, .login-form .checkboxes-field .checked-subtask, .signup-form .checkboxes-field .checked-subtask {
  text-decoration: line-through;
}
.form-modal .checkboxes-field label, .delete-modal .checkboxes-field label, .login-form .checkboxes-field label, .signup-form .checkboxes-field label {
  padding: 1.5rem;
  margin: 1rem 0;
  width: 94%;
  background-color: #F4F7FD;
  border-radius: 0.5rem;
}
.form-modal .checkboxes-field input, .delete-modal .checkboxes-field input, .login-form .checkboxes-field input, .signup-form .checkboxes-field input {
  display: inline;
  width: auto;
  margin: 0;
  margin-right: 1.5rem;
}
.form-modal ::placeholder, .delete-modal ::placeholder, .login-form ::placeholder, .signup-form ::placeholder {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 500;
  color: #E4EBFA;
}
.form-modal select, .delete-modal select, .login-form select, .signup-form select {
  width: 100%;
  background-color: white;
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 500;
}
.form-modal .err-msg, .delete-modal .err-msg, .login-form .err-msg, .signup-form .err-msg {
  margin-top: 0.5rem;
  color: #EA5555;
}
.form-modal button, .delete-modal button, .login-form button, .signup-form button {
  display: block;
  width: 100%;
  padding: 1.5rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 10rem;
}
.form-modal .add-btn, .form-modal .cancel-btn, .delete-modal .add-btn, .delete-modal .cancel-btn, .login-form .add-btn, .login-form .cancel-btn, .signup-form .add-btn, .signup-form .cancel-btn {
  margin-top: 1rem;
  background-color: #E4EBFA;
  color: #635FC7;
}
.form-modal .add-btn:hover, .form-modal .add-btn:focus, .form-modal .cancel-btn:hover, .form-modal .cancel-btn:focus, .delete-modal .add-btn:hover, .delete-modal .add-btn:focus, .delete-modal .cancel-btn:hover, .delete-modal .cancel-btn:focus, .login-form .add-btn:hover, .login-form .add-btn:focus, .login-form .cancel-btn:hover, .login-form .cancel-btn:focus, .signup-form .add-btn:hover, .signup-form .add-btn:focus, .signup-form .cancel-btn:hover, .signup-form .cancel-btn:focus {
  background-color: #F4F7FD;
}
.form-modal .save-btn, .delete-modal .save-btn, .login-form .save-btn, .signup-form .save-btn {
  background-color: #635FC7;
  color: white;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.form-modal .save-btn:hover, .form-modal .save-btn:focus, .delete-modal .save-btn:hover, .delete-modal .save-btn:focus, .login-form .save-btn:hover, .login-form .save-btn:focus, .signup-form .save-btn:hover, .signup-form .save-btn:focus {
  background-color: #A8A4FF;
}
.form-modal .delete-btn, .delete-modal .delete-btn, .login-form .delete-btn, .signup-form .delete-btn {
  background-color: #EA5555;
  color: white;
  margin-bottom: 1rem;
}
.form-modal .delete-btn:hover, .form-modal .delete-btn:focus, .delete-modal .delete-btn:hover, .delete-modal .delete-btn:focus, .login-form .delete-btn:hover, .login-form .delete-btn:focus, .signup-form .delete-btn:hover, .signup-form .delete-btn:focus {
  background-color: #FF9898;
}

.view-task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-task-header h2 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: black;
}
.view-task-header button {
  width: auto;
  padding: 1rem;
}

#delete-board-modal h2, #delete-task-modal h2 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: #EA5555;
  margin-bottom: 2rem;
}
#delete-board-modal p, #delete-task-modal p {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 500;
  color: #828FA3;
}
#delete-board-modal .delete-btn-cluster, #delete-task-modal .delete-btn-cluster {
  margin-top: 2rem;
  display: flex;
  column-gap: 2rem;
}
#delete-board-modal .delete-btn, #delete-task-modal .delete-btn {
  margin-top: 1rem;
}

#app.dark form, #app.dark .edit-task {
  background-color: #2B2C37;
}
#app.dark form .view-task-header button, #app.dark .edit-task .view-task-header button {
  background-color: #2B2C37;
}
#app.dark form h2, #app.dark form label, #app.dark form legend, #app.dark .edit-task h2, #app.dark .edit-task label, #app.dark .edit-task legend {
  color: white;
}
#app.dark form input, #app.dark form textarea, #app.dark form select, #app.dark .edit-task input, #app.dark .edit-task textarea, #app.dark .edit-task select {
  background-color: #2B2C37;
  border-color: #3E3F4E;
  color: white;
}
#app.dark form ::placeholder, #app.dark .edit-task ::placeholder {
  color: #3E3F4E;
}
#app.dark form .checkboxes-field label, #app.dark .edit-task .checkboxes-field label {
  background-color: #20212C;
}
#app.dark form hr, #app.dark .edit-task hr {
  border-color: #3E3F4E;
}
#app.dark form .add-btn, #app.dark .edit-task .add-btn {
  background-color: white;
}

/*# sourceMappingURL=index.css.map */
